<div class="toolbar" role="banner">
  <span>Kry Service Poller</span>
    <div class="spacer"></div>
</div>

<div class="container">
  <mat-card *ngFor="let service of services" [ngClass]="service.lastCheckedAt ? (service.state ? 'up' : 'down') : 'unchecked'" class="service-card">
    <div class="card-meta">
      <mat-card-subtitle *ngIf="service.lastCheckedAt" class="last-checked-at">Last check: {{service.lastCheckedAt ? service.lastCheckedAt : 'N/A'}}</mat-card-subtitle>
      <mat-card-subtitle class="created-at">Created: {{service.createdAt}}</mat-card-subtitle>
    </div>
    <mat-card-title>
      {{service.name}}
      <mat-icon class="state-icon" *ngIf="service.lastCheckedAt" aria-hidden="true">{{service.state ? 'thumb_up' : 'thumb_down'}}</mat-icon>
    </mat-card-title>
    <mat-card-subtitle>{{service.url}}:{{service.port}}</mat-card-subtitle>
    <mat-divider inset></mat-divider>
    <mat-card-actions align="start">
      <button mat-button (click)="openHistoryDialog()">History</button>
      <button mat-button (click)="openDeleteDialog(service.id)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="add-button-container">
  <button mat-fab color="warn" aria-label="Add a new service" (click)="openAddNewDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
